$theme-blue: #017bff;
$table-lrg: #cc5050;
$table-med: #ccca50;
$table-sml: #6dcc50;

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

.container-fluid {
  background-color: $theme-blue;

  h1 {
    color: white;
    padding: 20px;
  }
}

.col {
  padding: 20px;
}

caption {
  padding-left: 20px;
  color: $theme-blue;
}

@media (min-width: 1200px) {
  caption {
    padding-left: 20px;
    color: green;
  }
}


#tablecap {
  padding-left: 20px;
}

#small {
  background-color: $table-sml;
}

#medium {
  background-color: $table-med;
}

#large {
  background-color: $table-lrg;
}
