$theme-blue: #017bff;
$table-lrg: #cc5050;
$table-med: #ccca50;
$table-sml: #6dcc50; // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

.container-fluid {
  background-color: $theme-blue;

  h1 {
    color: white;
    padding: 20px;
  }
}
@media (max-width: 768px) {
  .container-fluid {
    h1 {
      color: white;
      padding: 20px;
      font-size: 15px;
    }
  }
}

.col {
  padding: 20px;
}

caption {
  padding-left: 20px;
  color: $theme-blue;
}

caption {
  padding-left: 20px;
}

.table-bordered.table-hover {
  caption {
    color: green;
  }
}

.carousel-inner > div > img {
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 768px) {
  .carousel-inner > div > img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

thead > tr {
  font-size: 20px;
}

#tablecap {
  padding-left: 20px;
}

#small {
  background-color: $table-sml;
}

#medium {
  background-color: $table-med;
}

#large {
  background-color: $table-lrg;
}

#about-info{
padding: 50px

}
